#object-position-right {
    position: sticky;
    top: 300px;
    right: 5px;
}

#object-position-1 {
    object-position: 10px;
}

#object-position-2 {
    object-position: 100% 10%;
}

.right-screen {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

div.fixed {
    position: fixed;
    top: 400px;
    right: 5px;
}