body {
    background-color: lightblue;
}

h1 {
    color: black;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

.break {
    background-color: #faf7f0;
}

#para1 {
    text-align: center;
    color: red;
}